.projects {
  margin-top: 94px;
  margin-bottom: 94px;
  .container {
    .head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 56px;
      .title {
        p {
          color: #7de0ea;
          font-weight: 500;
        }
        h2 {
          font-weight: 600;
          span {
            color: #7de0ea;
          }
        }
      }
      a {
        background-color: #7de0ea;
        width: 163.47px;
        height: 50px;
        border-radius: 8px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .navigation-buttons {
        display: flex;
        align-items: center;
        gap: 8.08px;
        .navigate {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid #7de0ea;
          background: transparent;
          color: #fff;
          font-size: 24px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s;
        }
        .navigate:hover {
          background-color: #7de0ea;
          color: white;
        }
        .navigate:disabled {
          border-color: #ccc;
          color: #aaa;
          cursor: not-allowed;
        }
      }
    }
    .projects-grid {
      display: grid;
      gap: 58px;
    }
  }
}

@media (max-width: 767px) {
  .projects .head {
    flex-direction: column;
    gap: 20px;
    .title {
      p {
        font-size: 16px;
      }
      h2 {
        font-size: 28px;
      }
    }
  }
}
@media (min-width: 768px) {
  .projects .head {
    align-items: end;
    .title {
      width: 40%;
      p {
        font-size: 20px;
      }
      h2 {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 991px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (min-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
