.project-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  img {
    border-radius: 8px;
    width: 100%;
    height: 200px;
    cursor: pointer;
  }
  .project-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .info {
      .project-title {
        font-weight: 600;
        margin-bottom: 11px;
      }
      .project-description {
        font-weight: 400;
        font-size: 16px;
      }
    }
    a {
      color: #7de0ea;
      height: 35px;
      font-size: 35px;
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .project-card .project-info .project-title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .project-card .project-info .project-title {
    font-size: 22px;
  }
}
