.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    .text {
      h2 {
        font-weight: 700;
        font-size: 55px;
        margin-bottom: 8px;
        span {
          font-weight: 400;
        }
      }
      p {
        font-weight: 400;
        font-size: 18px;
        max-width: 50%;
      }
      button {
        border-radius: 6px;
        padding: 16px 32px;
        border: none;
        margin-top: 30px;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        background-color: #ffffff99;
      }
    }
  }
  .vector {
    position: absolute;
    z-index: -5;
    top: 20%;
  }
}

.hero::before {
  content: "";
  position: absolute;
  left: -56px;
  width: 400px;
  height: 100px;
  background: radial-gradient(circle, #9bffa5, #aed3ff, #c9d4ef, #cacffa);
  filter: blur(60px);
  z-index: -1;
}
.mode-light .hero .container .text p {
  color: #43495b;
}
.mode-dark .hero .container .text button {
  background-color: #7de0ea;
  color: #ffffff;
}
.photo {
  position: relative;
  width: auto;
  height: 70%;
  margin: auto;
  .shape1 {
    width: 54.68px;
    height: 57.02px;
    background-color: #583fbc;
    border-radius: 16px;
    top: 0;
    left: 5%;
    transform: rotate(30deg);
  }
  .shape3 {
    width: 8.91px;
    height: 9.69px;
    border-radius: 50%;
    background-color: #583fbc;
    bottom: 20%;
    left: 0;
  }
}

.circle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 360px;
  background-color: #e6e6fa;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main-image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

.shape {
  position: absolute;
  z-index: 3;
}

.shape2 {
  width: 11.88px;
  height: 12.92px;
  background-color: #7b55ec;
  border-radius: 50%;
  top: 40px;
  right: 11%;
}

.shape4 {
  width: 37.74px;
  height: 38.92px;
  border-radius: 12px;
  background-color: #7de0ea;
  top: 24%;
  right: 0;
  transform: rotate(36deg);
}

.shape5 {
  width: 19.31px;
  height: 21px;
  background-color: #7de0ea;
  border-radius: 50%;
  bottom: 40%;
  right: 0;
}

@media (max-width: 991px) {
  .hero {
    .container {
      flex-direction: column;
      margin-top: 100px;
      .text {
        h2 {
          font-size: 36px;
        }
        p {
          max-width: 80%;
        }
      }
    }
  }
  ::before {
    bottom: 40%;
  }
}

@media (min-width: 992px) {
  .hero::before {
    bottom: 20%;
  }
  .text {
    max-width: 60%;
  }
}
